streamlit
torch
transformers
sentence-transformers
faiss-cpu
sympy
numpy
paddleocr
pytesseract
opencv-python
Pillow
rapidocr-onnxruntime
pix2tex
openai-whisper
imageio-ffmpeg
tqdm
scikit-learn
accelerate
onnxruntime
